# Введение в Машинное обучение

## Высшая Школа Цифровой Культуры

## Материалы к лекции 5. K-Means.

Обработка данных

In [22]:
#чтение данных, так как названия конфет уникальны, используем их в качестве индекса
import numpy as np
import pandas as pd
DATA = pd.read_csv("data.csv", delimiter=',', index_col='Object')
DATA

         X   Y  Cluster
Object
1        7  12        0
2       20  17        1
3       12   4        2
4       20   7        0
5        1  10        1
6       15   4        2
7        6  14        2
8        8  17        2
9       13  11        0
10       3  11        0
11      14  18        1
12      20  10        1
13      18  12        1
14       5   1        1
15      12   3        0

In [23]:
#удаление столбца Cluster из набора данных
coords = DATA.drop('Cluster', axis=1)
coords

         X   Y
Object
1        7  12
2       20  17
3       12   4
4       20   7
5        1  10
6       15   4
7        6  14
8        8  17
9       13  11
10       3  11
11      14  18
12      20  10
13      18  12
14       5   1
15      12   3

In [24]:
#подключение KMeans из библиотеки sklearn
from sklearn.cluster import KMeans

In [25]:
#координаты центроидов
centroid = np.array([[11.0, 8.8], [13.0, 11.33], [10.25, 9.75]])

In [26]:
#инициализация модели
kmeans = KMeans(n_clusters=3, init=centroid, max_iter=100, n_init=1)

In [27]:
#обучение модели на данных из coords
model = kmeans.fit(coords)
model

KMeans(algorithm='auto', copy_x=True,
       init=array([[11.  ,  8.8 ],
       [13.  , 11.33],
       [10.25,  9.75]]),
       max_iter=100, n_clusters=3, n_init=1, n_jobs=None,
       precompute_distances='auto', random_state=None, tol=0.0001, verbose=0)

In [28]:
#вывод назначенных кластеров
model.labels_.tolist()

[2, 1, 0, 1, 2, 0, 2, 2, 1, 2, 1, 1, 1, 0, 0]

In [29]:
#обучение модели и расчет расстояний до центроидов
alldistances = kmeans.fit_transform(coords)

In [30]:
#вывод расстояний от данных до всех центроидов
alldistances

array([[ 9.8488578 , 10.51189802,  2.15406592],
       [16.64331698,  5.14781507, 15.57690598],
       [ 1.41421356, 10.12422837, 11.24455424],
       [ 9.8488578 ,  6.04152299, 16.08228839],
       [12.20655562, 16.68831927,  4.88262225],
       [ 4.12310563,  8.86002257, 13.32066064],
       [12.08304597, 11.5974135 ,  1.56204994],
       [14.31782106, 10.51189802,  5.16139516],
       [ 8.24621125,  4.74341649,  8.2       ],
       [11.3137085 , 14.57737974,  2.69072481],
       [15.29705854,  6.51920241, 10.39422917],
       [11.40175425,  3.53553391, 15.25909565],
       [11.40175425,  0.70710678, 13.02459212],
       [ 6.32455532, 16.98528775, 11.8       ],
       [ 1.        , 10.9772492 , 12.04325537]])

In [31]:
(1.41421356 + 4.12310563 + 6.32455532 + 1) / 4

3.2154686275