Из файла hw_25000.csv возьмите 20 человек ростом от 170 до 180 сантиметров (назовём это выборкой из набора данных №2). 
Можно ли утверждать, что разница среднего веса людей в исходном файле hw_25000.csv и среднего веса людей во всем наборе данных №2 статистически значима?

In [1]:
from scipy import stats
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv( 'hw_25000.csv', names = ['index', 'height_inches', 'weight_pounds'], header = 0 )
data['height'] = data['height_inches'] * 2.54
data.head(20)

    index  height_inches  weight_pounds      height
0       1       65.78331       112.9925  167.089607
1       2       71.51521       136.4873  181.648633
2       3       69.39874       153.0269  176.272800
3       4       68.21660       142.3354  173.270164
4       5       67.78781       144.2971  172.181037
5       6       68.69784       123.3024  174.492514
6       7       69.80204       141.4947  177.297182
7       8       70.01472       136.4623  177.837389
8       9       67.90265       112.3723  172.472731
9      10       66.78236       120.6672  169.627194
10     11       66.48769       127.4516  168.878733
11     12       67.62333       114.1430  171.763258
12     13       68.30248       125.6107  173.488299
13     14       67.11656       122.4618  170.476062
14     15       68.27967       116.0866  173.430362
15     16       71.09160       139.9975  180.572664
16     17       66.46100       129.5023  168.810940
17     18       68.64927       142.9733  174.369146
18     19       71.23033       137.9025  180.925038
19     20       67.13118       124.0449  170.513197

In [5]:
data['weight_pounds'].mean()

127.07942116080001

In [21]:
sample = data[(data['height'] > 170.0) & (data['height'] < 180.0)]
sample = sample.head(20)['weight_pounds'].tolist()
sample

[153.0269,
 142.3354,
 144.2971,
 123.3024,
 141.4947,
 136.4623,
 112.3723,
 114.14299999999999,
 125.6107,
 122.4618,
 116.0866,
 142.9733,
 124.0449,
 141.2807,
 143.5392,
 129.5027,
 141.8501,
 129.7244,
 142.4235,
 131.5502]

In [22]:
stats.ttest_1samp(sample, data['weight_pounds'].mean())

Ttest_1sampResult(statistic=2.2438433326710006, pvalue=0.03695275215128037)