In [4]:
import numpy as np 
import pandas as pd 
from sklearn.linear_model import LinearRegression

In [2]:
data = pd.read_csv('1.csv', delimiter=',')
data.head()

   id   X   Y
0   1   9  15
1   2   4   9
2   3  17  41
3   4   2   1
4   5  14  32

In [7]:
X = pd.DataFrame(data.drop(['id', 'Y'], axis=1))
Y = pd.DataFrame(data['Y'])

    Y
0  15
1   9
2  41
3   1
4  32
5  22
6  30
7   4
8  31
9   8

In [12]:
X_mean = X.mean()
Y_mean = Y.mean()
print(X_mean, Y_mean)

X    8.4
dtype: float64 Y    19.3
dtype: float64

In [13]:
reg = LinearRegression().fit(X, Y)

In [14]:
reg

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [15]:
reg.intercept_

array([-0.94507846])

In [16]:
reg.coef_

array([[2.41012839]])

In [18]:
reg.score(X, Y)

0.9513257196553756